@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);

/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__auth-block/header__auth-block.css);
@import url(./blocks/header/__auth-link/header__auth-link.css);
@import url(./blocks/header/__email/header__email.css);

/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-button/_opened/profile__add-button_opened.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__group/profile__group.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__info-about/profile__info-about.css);
@import url(./blocks/profile/__open-button/profile__open-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-vector/profile__add-button-vector.css);

/*signRoute*/
@import url(./blocks/signRoute/signRoute.css);

@import url(./blocks/signRoute/__header/signRoute__header.css);
@import url(./blocks/signRoute/__form/register__form.css);
@import url(./blocks/signRoute/__input/signRoute__input.css);
@import url(./blocks/signRoute/__btn-submit/signRoute__btn-submit.css);
@import url(./blocks/signRoute/__bottom/signRoute__bottom.css);
@import url(./blocks/signRoute/__question/signRoute__question.css);
@import url(./blocks/signRoute/__login-link/signRoute__login-link.css);

@import url(./blocks/registerContainer/registerContainer.css);
/*login*/
/* @import url();


@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url(); */

/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__btn-close/popup__btn-close.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__btn-submit/popup__btn-submit.css);
@import url(./blocks/popup/__btn-submit/_invalid/popup__btn-submit_invalid.css);
@import url(./blocks/popup/__img-window/popup__img-window.css);
@import url(./blocks/popup/popup__image/popup__image.css);
@import url(./blocks/popup/__alt/popup__alt.css);

@import url(./blocks/error/error.css);
@import url(./blocks/label/label.css);
@import url(./blocks/label/__span/label__span.css);
@import url(./blocks/label/__span/_popup-profile/label__span_popup-profile.css);

/*popup-infoTooltip*/
@import url(./blocks/popup-infoTooltip/popup-infoTooltip.css);
@import url(./blocks/popup-infoTooltip/__image/popup-infoTooltip__image.css);
@import url(./blocks/popup-infoTooltip/__message/popup-infoTooltip__message.css);
/*@import url();
@import url();
@import url();
@import url(); */

/*popup-profile*/
@import url(./blocks/popup-profile/popup-profile.css);
@import url(./blocks/popup-profile/__header/popup-profile__header.css);
@import url(./blocks/popup-profile/__btn-submit/popup-profile__btn-submit.css);
@import url(./blocks/popup-profile/__form/popup-profile__form.css);
@import url(./blocks/popup-profile/__btn-close/popup-profile__btn-close.css);

/*popup-avatar*/
@import url(./blocks/popup-avatar/popup-avatar.css);
@import url(./blocks/popup-avatar/__form/popup-avatar__form.css);
@import url(./blocks/popup-avatar/__header/popup-avatar__header.css);
@import url(./blocks/popup-avatar/__input/popup-avatar__input.css);
@import url(./blocks/popup-avatar/__btn-close/popup-avatar__btn-close.css);
@import url(./blocks/popup-avatar/__btn-submit/popup-avatar__btn-submit.css);

/*popup-add*/
@import url(./blocks/popup-add/popup-add.css);
@import url(./blocks/popup-add/__header/popup-add__header.css);
@import url(./blocks/popup-add/__btn-submit/popup-add__btn-submit.css);
@import url(./blocks/popup-add/__form/popup-add__form.css);
@import url(./blocks/popup-add/__input/popup-add__input.css);
@import url(./blocks/popup-add/__btn-close/popup-add__btn-close.css);

/*popup-confirm*/
@import url(./blocks/popup-confirm/popup-confirm.css);
@import url(./blocks/popup-confirm/__header/popup-confirm__header.css);
@import url(./blocks/popup-confirm/__btn-submit/popup-confirm__btn-submit.css);
@import url(./blocks/popup-confirm/__btn-close/popup-confirm__btn-close.css);

/*popup-img*/
@import url(./blocks/popup-img/popup-img.css);
@import url(./blocks/popup-img/__btn-close/popup-img__btn-close.css);

/*elements/cards*/
@import url(./blocks/elements/elements.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__img/cards__img.css);
@import url(./blocks/cards/__bottom/cards__bottom.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like-group/cards__like-group.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__like/_active/cards__like_active.css);
@import url(./blocks/cards/__number/cards__number.css);
@import url(./blocks/cards/__btn-remove/cards__btn-remove.css);
@import url(./blocks/cards/__btn-remove/_visible/cards__btn-remove_visible.css);
@import url(./blocks/cards/__btn-remove/_hidden/cards__btn-remove_hidden.css);
@import url(./blocks/cards/__btn-like/cards__btn-like.css);

/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
